@CHARSET "ISO-8859-1";
/****************************
GENERAL
*****************************/
body {
	font-family: 'Merriweather', serif;
}

#wrapper {
	width: 1014px;
	margin: 0 auto -100px;;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 20px;
	height: auto;
	height: 100%;
}

p {
	text-align: justify;
	margin-bottom: 1.3em;
}

a:link,a:visited,a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: underline;
}

h2 {
	font-weight: normal;
	font-size: 2em;
	margin-bottom: 1.1em;
}

h3 {
	font-size: 2.4em;
	F margin-bottom: 1.2em;
}

.nieuwProduct {
	float: left;
	clear: both;
	margin-bottom: 1em;
	min-height: 2em;
}

.nieuwProduct h2 {
	float: left;
	margin-top: 0;
}

.nieuwProduct img {
	float: left;
	padding-right: 1em;
	height: 15em;
}

#detailImg {
	float: left;
	padding-right: 1em;
	width: 50%;
}

.push {
	height: 100px;
	clear: both;
}

.sidebar {
	float: left;
	width: 30%;
	padding-top: 3em;
}

section.content {
	float: right;
	width: 70%;
}

td {
	text-allign: right;
	padding-right: 2em;
}


/****************************
FORMS
*****************************/
form div * {
	display: block;
	margin-bottom: 0.3em;
}

form div {
	margin-bottom: 1em;
}

label {
	font-size: 1em;
	letter-spacing: 0.01em;
}

input {
	width: 10em;
	margin-left: 0.5em;
}

input[type=submit] {
	width: auto;
	border-radius: 5px;
	padding-left: 0.7em;
	padding-right: 0.7em;
}

#klein {
	width: 3em;
}

#slider-range-prijs, #slider-range-jaartal {
	height:0.5em;
	width: 9.5em;
}

.sidebar #aanmeldform h2{
	margin-top: 0;
}

/****************************
HEADING
*****************************/
header {
	padding-top: 20px;
}

#logo img {
	position: absolute;
	text-align: center;
	height: 10em;
	z-index: 1;
}

h1 {
	margin: 15px 0;
	font-size: 3em;
	font-family: 'Play', sans-serif;
	font-weight: normal;
	line-height: 0.8em;
	padding-left: 15px;
}

/****************************
NAVIGATION
*****************************/
nav {
	border-top: 1px solid;
	border-bottom: 1px solid;
	padding: 10px 0;
	margin-bottom: 20px;
}

nav * {
	text-align: center;
}

nav ul {
	font-size: 1.2em;	
}

nav ul li {
	display: inline;
	margin-left: 20 px;
}

#aanmeldform input {
	text-align: left;
}

#icoon img {
	height: 1em;
}

/****************************
FOOTER
*****************************/
footer {
	position: absolute;
	bottom: 0;
	width: 1014px;
	border-top: 1px solid;
	font-size: 0.75em;
	text-align: center;
	padding-top: 20px;
	height: 100px;
	clear: both;
}

/****************************
COLORS
*****************************/

/* site body */
body {
	background-color: #fcfcfb;
	color: #303030;
}

a {
	color: #4c4c4c;
}

a:hover {
	color: #B2806B;
}

header {
	background: #7F6D62;
	border-color: #403731;
}

/* logo text */
h1 {
	color: #fff;
}

h2 {
	color: #900;
}

h3 {
	color: #700;
}

/* nav background on mobile */
nav {
	background: #403731;
	border-color: #d0c7c2;
}

footer {
	border-color: #d0c7c2;
}

nav * {
	color: #fff;
}

/* selected nav link */
nav ul li a:hover,nav ul li a:active {
	color: #a46137;
}

#adminnav li a:hover,nav ul li a:active {
	color: #b00;
}

nav input {
	color: #000;
}

footer {
	color: #999;
}

#slider-range-prijs, #slider-range-jaartal {
	background: #fff;
}

#slider-range-prijs *, #slider-range-jaartal * {
	background: #FFA639;
}

.fout {
	color: red;
}