@CHARSET "ISO-8859-1";
/****************************
GENERAL
*****************************/
body {
	font-family: 'Merriweather', serif;
}

#wrapper {
	max-width: 940px;
	margin: 0 auto -100px;;
	padding: 0 5%;
	height: auto;
	height: 100%;
}

a {
	text-decoration: none;
}

h2 {
	font-weight: normal;
}

.fout {
	color: red;
}

#detailImg {
	float: left;
	padding-right: 1em;
	width: 20em;
}

.push {
	height: 100px;
	clear: both;
}

.sidebar {
	float: left;
	width: 160px;
	margin: 0;
	padding: 1em;
}

section.content {
	margin-left: 190px;
	padding: 1em;
}

td {
	text-allign: right;
	padding-right: 2em;
}



/****************************
HEADING
*****************************/
#logo img{
	position: absolute;
	text-align: center;
	height: 10em;
	z-index: 1;
}

h1 {
	margin: 15px 0;
	font-size: 1.75em;
	font-family: 'Play', sans-serif;
	font-weight: normal;
	line-height: 0.8em;
	padding-left: 15px;
}



/****************************
NAVIGATION
*****************************/
nav {
	padding: 10px 0;
	text-align: center;
}

nav ul li {
	display: inline;
	padding-left: 15px;
}

#adminnav {
	/* tijdelijke opmaak, enkel voor het contrast */
	background: red;
}



/****************************
FOOTER
*****************************/
footer {
	font-size: 0.75em;
	text-align: center;
	padding-top: 50px;
	height: 100px;
	clear: both;
}



/****************************
COLORS
*****************************/

/* site body */
body {
	background-color: #ffebde;
	color: #303030;
}

a {
	color: #4c4c4c;
}

a:hover {
	color: #B2806B;
}

header {
	background: #7F6D62;
	border-color: #403731;
}

/* logo text */
h1 {
	color: #fff;
}

h2 {
	color: #666;
}

/* nav background on mobile */
nav {
	background: #403731;
}

/* nav link */
nav li,nav a:visited {
	color: #fff;
}

/* selected nav link */
nav a.selected,nav a:hover {
	color: #E5C5B1;
}

footer {
	color: #c4c4c4;
}